# 从BotFather处获取
BOT_TOKEN=YOU_BOT_TOKEN
DEBUG=False
# 夕阳红的ticker和对应的周期
XYHTICKER=[["SPY",10,50,100,200],["QQQ",13,55,100,150,200],["IWM",13,55,100,150,200]]
# 发送夕阳红的chatid
XYHCHAT=
# 发送夕阳红日志的chatid
XYHLOG=
# 夕阳红在线数据获取服务，多个请用逗号隔开
XYHSOURCE=stooq
# 管理员uid列表，多个请用逗号隔开
ADMINS=aaa bbb ccc
# 管理审核的chatid
ADMIN_GROUP=-1001234567890
# 所有被管理的群chatid列表，多个请用逗号隔开
GROUPS=xxxx yyyy zzzz